.button {
  display          : inline-flex;
  justify-content  : center;
  align-items      : center;
  padding          : 0.5rem 1rem;
  border-radius    : 0.375rem; /* 6px */
  gap              : 0.5rem;
  border           : 1.5px solid var(--color);
  background-color : var(--color);
  color            : var(--white-color);
  font-size        : var(--normal-font-size);
  font-family      : var(--body-font-family);
  line-height      : 1.5;
  white-space      : nowrap;
  font-weight      : bold;
  cursor           : pointer;
  transition       : background-color var(--transition), border-color var(--transition), transform var(--transition);

  &:hover {
    --color : var(--color-alt);
  }

  &:active {
    transform : scale(0.95);
  }

  /* ----- Sizes ----- */
  &.small {
    font-size      : var(--small-font-size);
    padding-inline : 0.875rem; /* 14px */
  }

  &.smaller {
    font-size : var(--smaller-font-size);
    padding   : 0.375rem 0.625rem;
  }

  /* ----- Variants ----- */
  &:not(:hover) {
    &.light {
      background-color : var(--color-soft);
      border-color     : var(--color-soft);
      color            : var(--color);
    }

    &.white {
      color            : var(--color);
      background-color : var(--white-color);
      border-color     : var(--white-color);
      box-shadow       : var(--shadow-sm);
    }

    &.ghost {
      background-color : transparent;
      color            : var(--color)
    }

    &.link {
      background-color : transparent;
      border-color     : transparent;
      color            : var(--color);
    }
  }
}

.action {
  --size           : 2rem;
  display          : inline-flex;
  align-items      : center;
  justify-content  : center;
  flex-wrap        : nowrap;
  gap              : 0.05rem;
  height           : var(--size);
  min-width        : var(--size);
  border           : none;
  border-radius    : calc(var(--size) / 2);
  color            : var(--grey-light-color);
  font-size        : var(--small-font-size);
  background-color : transparent;
  cursor           : pointer;
  transition       : background-color var(--transition);

  // No hay manera directa de acceder al ícono desde el módulo
  svg {
    width  : 1.25rem;
    height : 1.25rem;
  }

  &:hover {
    background-color : var(--bg-alt-color);
  }
}
