.btn {
  --primary: #3b82f6;
  --light: #dbeafe;
  --grey-light: #8e9ba4;
  --grey-bg: #f1f6f9;

  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;

  &.default {
    background-color: var(--primary);
    color: white;
  }

  &.light {
    background-color: var(--light);
    color: var(--primary);
  }

  &.white {
    background-color: white;
    color: var(--primary);
  }

  &.ghost {
    background-color: var(--light);
    color: var(--primary);
    border: solid 1.5px var(--primary);
  }

  &.link {
    color: var(--primary);
    background-color: transparent;
  }

  &.action {
    border: none;
    border-radius: 100%;
    padding: 0.5rem !important;
    color: var(--grey-light);
    font-size: 1rem;

    &:hover {
      background-color: var(--grey-bg);
    }

    &.withText {
      border-radius: 50px;
    }

    svg {
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  &.normal {
    padding: 1rem;
  }

  &.small {
    padding: 0.5rem;
  }

  &.smaller {
    padding: 0.2rem;
  }
}
