$blue   : (
  50 : #EFF6FF,
  100 : #DBEAFE,
  200 : #BFDBFE,
  300 : #93C5FD,
  400 : #60A5FA,
  500 : #3B82F6,
  600 : #2563EB,
  700 : #1D4ED8,
  800 : #1E40AF,
  900 : #1E3A8A,
);

$green  : (
  50 : #ECFDF5,
  100 : #D1FAE5,
  200 : #A7F3D0,
  300 : #87E0BF,
  400 : #34D399,
  500 : #10B981,
  600 : #059669,
  700 : #047857,
  800 : #065F46,
  900 : #064E3B,
);

$red    : (
  50 : #FEF2F2,
  100 : #FEE2E2,
  200 : #FECACA,
  300 : #FCA5A5,
  400 : #F87171,
  500 : #EF4444,
  600 : #DC2626,
  700 : #B91C1C,
  800 : #991B1B,
  900 : #7F1D1D,
);

$yellow : (
  50 : #FEFCE8,
  100 : #FEF9C3,
  200 : #FEF08A,
  300 : #FDE047,
  400 : #FACC15,
  500 : #EAB308,
  600 : #CA8A04,
  700 : #A16207,
  800 : #854D0E,
  900 : #713F12,
);

@mixin create-color($name, $map) {
  @each $code, $color in $map {
    --#{$name}-#{$code} : #{$color};
  }
}

:root {
  @include create-color(blue, $blue);
  --blue-accent        : var(--blue-500);
  @include create-color(red, $red);
  @include create-color(yellow, $yellow);
  @include create-color(green, $green);
  --body-bg-color      : #FBFDFE;
  --bg-alt-color       : #F3F4F6;
  --border-color       : #E5E7EB;
  --grey-lighter-color : #9CA3AF;
  --grey-light-color   : #4B5563;
  --grey-color         : #6B7280;
  --text-color         : var(--grey-color);
  --title-color        : #0F172A;
  --black-color        : #000000;
  --white-color        : #FFFFFF;
}
