@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');

@font-face {
  font-family  : 'Rota';
  font-style   : normal;
  font-weight  : 600;
  src          : local('Rota Bd'), url('/src/assets/fonts/rota-bold.woff2') format('woff2');
  font-display : optional;
}

:root {
  --body-font-family  : 'Manrope', sans-serif;
  --title-font-family : 'Rota', sans-serif;

  --biggest-font-size : #{rem(36px)};
  --h1-font-size      : #{rem(28px)};
  --h2-font-size      : #{rem(24px)};
  --h3-font-size      : #{rem(20px)};
  --h4-font-size      : #{rem(18px)};
  --bigger-font-size  : #{rem(18px)};
  --normal-font-size  : #{rem(16px)};
  --small-font-size   : #{rem(14px)};
  --smaller-font-size : #{rem(12px)};

  @include from(lg) {
    --biggest-font-size : #{rem(48px)};
    --h1-font-size      : #{rem(40px)};
    --h2-font-size      : #{rem(32px)};
    --h3-font-size      : #{rem(24px)};
    --h4-font-size      : #{rem(20px)};
    --bigger-font-size  : #{rem(24px)};
  }
}

body {
  font-family : 'Manrope', sans-serif;
  line-height : 1.8;
  font-size   : var(--normal-font-size);
  color       : var(--text-color);
}

$heading-selector : '';
@for $i from 1 through 4 {
  $heading-selector : $heading-selector + 'h#{$i}, :global(.h#{$i}),';
  h#{$i},
  :global(.h#{$i}) {
    font-size : var(--h#{$i}-font-size);
  }
}

#{$heading-selector} {
  font-family : var(--title-font-family);
  line-height : 1.5;
  font-weight : 700;
  color       : var(--title-color);
}
